p {
  padding: 0;
  margin: 0;
  font-family: 'Centra';
  font-weight: 700;
}



.background {
    margin-top: 0;
    padding: 150px 0 100px 0;
    background-image: url('../..//assets/img/home-background.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: 6fr 2fr;
  margin-top: 1rem;
}

.left_container {
  background-color: transparent
}

.right_container {
  background-color: transparent;
  position: fixed;
  right: 3rem;

  padding-bottom: 3rem;
}

.user_container {
  background-color: transparent;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.user_info {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.user_profile {
  height: 170px;
  margin-left: 3rem;
}




/* FRIENDS LIST */

.username,
.friends_list {
  color: rgb(71, 71, 71);
  font-size: 25px;
  margin-bottom: 4px;
}

.friends_list {
  text-align: center;
}
.join_date {
  color: rgb(71, 71, 71);
}

.friends_container {
  padding-top: 1rem;
}

.user_profile_friend {
  height: 70px;
  margin-right: 5px;
  margin-left: 15px;
  border-radius: 10px;
}

.friends_list_container {
  
  background-color: rgba(0,0,0,0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 250px;
}


/* TRAIT MASTERY */

.vocab_container {
  display: flex;
  padding: 0rem 1rem;
}

.lang_container {
  margin: 0rem 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
 
  border: 1px solid black;
  height: 150px;
  width: 150px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}

.lang_count {
  text-align: center;
  padding-top: 2.6rem;
}

.lang_type {
  text-align: center;
}

.vocab_title {
  display: inline-block;
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 23px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  padding: 0.5rem 0.5rem;
}


/* ACHIEVEMENTS */

.achievement_title {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 4rem;
  font-size: 23px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  padding: 0.5rem 0.5rem;
}

.badge_container {
  display: flex;
  padding: 0rem 1rem;
}

.badge img {
  height: 200px;
}

.badge p {
  color: black;
  font-size: 20px;
}
